/* Blog.css */

/* General styles */
body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.headerwrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}

.header-txt {
  padding: 15px 30px;
  background-color: #004652;
  color: white;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
}

.latest {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photoswrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.eachphoto {
  width: calc(25% - 30px); /* Adjust the width according to your design */
  min-width: 250px; /* Set a minimum width */
  max-width: 350px; /* Set a maximum width */
  height: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.image-wrapper {
  height: 200px;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: auto;
}

.sub-part {
  padding: 20px;
}

.head-text {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sub-text {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 10px;
}

.text {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.read-info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #96dab5;
  font-size: 0.9rem;
}

.read-more {
  font-weight: 600;
  font-size: 1rem;
}

.right-arrow {
  font-size: 1.2rem;
}

/* Media queries */
@media (max-width: 1200px) {
  .each-photo {
    width: calc(33.33% - 30px);
  }
}

@media (max-width: 900px) {
  .each-photo {
    width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .each-photo {
    width: calc(100% - 30px);
  }
}
