body {
  background-color: teal;
  box-sizing: border-box;
}

.flashcardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: grey;
}
.flashcard {
  background-color: white;
  width: fit-content;
  height: fit-content;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.flashcardlist-container {
  margin: 2%;
}
.question {
  background-color: grey;
}
.answer {
  background-color: green;
}
.options {
  background-color: pink;
}
