body {
  background-color: teal;
  box-sizing: border-box;
}

.flashcardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: grey;
}
.flashcard {
  background-color: white;
  width: fit-content;
  height: fit-content;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.flashcardlist-container {
  margin: 2%;
}

.question {
  width: 100%;
  background-color: grey;
  box-sizing: border-box;
  padding: 20px;
}
.answer {
  background-color: green;
}
.options {
  background-color: pink;
}
.navbar {
  background-color: beige;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding: 2% 0;
}
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

button {
  background-color: slateblue;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  color: beige;
  font-weight: 600;
}
